<div class="ui text container">
    <!-- <h1 class="ui inverted header"><i id="logo" class="fa fa-star fa-fw" aria-hidden="true"></i></h1> -->
    <!-- <h2>{{ site.name }}</h2> -->
    <!-- <h3><a id="jinbu_download" href="http://pan.baidu.com/s/1sluC8dn" target="_blank">进步听力学英语离线包下载</a></h3> -->
    <!-- <div class="ui inverted fluid left icon action input" id="search-div"> -->
        <!-- <i class="search icon"></i> -->
        <!-- <input id="search-query" type="text" placeholder="立即搜索"> -->
        <!-- <select class="ui compact selection dropdown" id="search-services"> -->
            <!-- {% for item in site.data.search_services %}<option id="{{ item.id }}" value="{{ item.id }}" data-url="{{ item.url }}" data-suffix="{{ item.suffix }}">{{ item.name }}</option>{% endfor %} -->
        <!-- </select> -->
        <!-- <div id="search-button" type="submit" class="ui icon button">Go</div> -->
    <!-- </div> -->

    <!-- <div class="ui inverted link list"> -->
        <!-- <a class="item loading-trigger" href="{{ '/donate/' | relative_url }}">买雪糕给辛苦滴程序猿</a> -->
    <!-- </div> -->

	<div class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="center aligned column">
					<img class="ui centered medium rounded bordered image" src="{{ '/images/wechat_bg.jpg' | relative_url }}" alt="wechat.jpg">
					<h3 class="ui header">进步听力学英语2021版</h3>
					<p>APP及英语资源获取方式：请加微信463059061</p>
				</div>
			</div>
		</div>
	</div>
</div>
